<div class="center">
    <a class="btn green" href="{{ path('admin_team_new', {'id': tournament.id}) }}">Rajouter une/des équipe(s)</a>
</div>
{% for pool,teams in ranked_teams if pool != "all" %}
    <div class="col l{{ 12/(tournament.pools|length) }} s12">
        <h3 class="center">{{ pool }}</h3>
        <table class="striped highlight centered responsive-table rankings" id="rankingPool-{{ pool }}">
            <thead>
            <tr>
                <th>Classement</th>
                <th>Nom</th>
                <th>Points</th>
                <th>ID</th>
            </tr>
            </thead>
            <tbody>
            {% for team in teams %}
                <tr id="team_pool_{{ team.id }}">
                    <td>{{ loop.index }}</td>
                    <td>{{ team.name }}</td>
                    <td>{{ team.points }}</td>
                    <td>{{ team.id }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}
{% if tournament.state <= 4 %}
<h3 class="center">Classement Général de Pool</h3>
<div class="center">
    <a class="btn green" id="recalculateLink" href="{{ path('ajax_admin_match_recalculate', {'id': tournament.id}) }}">Recalculer les points</a>
</div>
<table class="striped highlight centered responsive-table rankings" id="globalRanking">
    <thead>
    <tr>
        <th>Position</th>
        <th>Nom</th>
        <th>Points</th>
        <th>Pool</th>
    </tr>
    </thead>
    <tbody>
    {% for team in ranked_teams.all %}
        <tr id="team_global_{{ team.id }}">
            <td>{{ loop.index }}</td>
            <td>{{ team.name }}</td>
            <td>{{ team.points }}</td>
            <td>{{ team.pool }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <h3 class="center">Classement Final</h3>
    <table class="striped highlight centered responsive-table rankings" id="finalRanking">
        <thead>
        <tr>
            <th>Position</th>
            <th>Nom</th>
        </tr>
        </thead>
        <tbody>
        {% for team in ranked_teams.all %}
            <tr id="team_final_{{ team.id }}">
                <td>{{ team.rank }}</td>
                <td>{{ team.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
