{% extends 'admin/base_admin.html.twig' %}
{% block title %}Tournois{% endblock %}
{% block body %}
    <div class="center">
        <a class="btn green" href="{{ path('admin_tournament_new') }}">Créer un tournoi</a>
    </div>
    <table class="striped highlight centered responsive-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Dates</th>
            <th>Nom</th>
            <th>Catégorie</th>
            <th>Etat</th>
            <th>Editer</th>
            <th>Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for tournament in tournaments %}
            <tr>
                <td>{{ tournament.id }}</td>
                <td>
                    {{ tournament.startdatetime|localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM Y')|capitalize }},
                    {{ tournament.enddatetime|localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM Y')|capitalize }}
                </td>
                <td>{{ tournament.name }}</td>
                <td>U{{ tournament.category }}</td>
                <td>{{ tournament.stateName }}</td>
                <td><a href="{{ path('admin_tournament_edit', {'id': tournament.id}) }}"><i class="fa fa-edit green-text"></i></a></td>
                <td><a class="tournamentDeleteLink" href="{{ path('ajax_admin_tournament_delete', {'id': tournament.id}) }}"><i class="fa fa-ban red-text"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
{% endblock %}
{% block javascripts %}
    <script>
        (function ($) {
            $(".tournamentDeleteLink").click(function(e){
                e.preventDefault();

                let parent = $(this).parent().parent();

                $.ajax({
                    url : $(this).attr('href'),
                    type : 'POST',
                    dataType: 'json',
                    success : function(data, statut){
                        M.toast({html: 'Le tournoi a bien été supprimé', classes: "green"});
                        console.log(data);
                        parent.remove();
                    },

                    error : function(data, statut, erreur){
                        M.toast({html: 'Impossible de supprimer le tournoi', classes: "red"});
                        console.log(erreur)
                    }
                });

            });

        })(jQuery);
    </script>
{% endblock %}
